{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}

	{% if form.errors %}
	<p>Your username and password didn't match. Please try again.</p>
	{% endif %}

	<form class="" role="form" action="/site/profile/edit" method="post">
		{% csrf_token %}
		Username: <input type="text" name="username" class="form-control" placeholder="Username" required="" autofocus="" value="{{ username }}"/>
		Display name: <input type="text" name="displayname" class="form-control" placeholder="Username" required="" autofocus="" value="{{ author.displayname }}"/>
		Email Addres: <input type="text" name="email" class="form-control" placeholder="Username" required="" autofocus="" value="{{ email }}"/>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
	</form>

{% endblock %}
