{% for friend in friends %}
	<div class="friend row" id="friend-{{ friend.id }}">
		<div class="col-md-1">
			{% if friend.is_local %}
				<a href="{% url 'profile_author' username=friend.user.username %}">{{ friend.displayName }}</a>
			{% else %}
				<a href="#friend-{{ friend.id }}" title="Remote User: {{ friend.displayName }}">{{ friend.displayName }}</a>
			{% endif %}
		</div>
		<div class="col-md-1 col-md-offset-4">
			<form action="{% url 'remove_friendship' %}" method="post">
				{% csrf_token %}
				<input type="hidden" name="friend_id" value="{{ friend.id }}" />
				<button class="btn btn-danger">Unfriend</button>
			</form>
		</div>
	</div>
{% empty %}
	<p class="well">Oops, there are no friends.</p>
{% endfor %}