{% load gravatar %}
{% load humanize %}

{% for request in requests %}
{% with friend=request.sender %}
	<div class="friend row" id="friend-{{ friend.id }}">
		<div class="col-md-1 friend-picture">
			<a href="{% gravatar_url friend.user.email %}" class="fancybox" target="_blank">
				<img src="{% gravatar_url friend.user.email %}" alt="{{ friend.displayName }}" />
			</a>
		</div>

		<div class="col-md-2 friend-name">
			{% if friend.is_local %}
				<a href="{% url 'profile_author' username=friend.user.username %}">{{ friend.displayName }}</a>
			{% else %}
				<a href="{% url 'profile_author_remote' host_id=friend.host.id author_id=friend.id %}">{{ friend.displayName }}</a>
			{% endif %}
			<span class="friendship-meta">{{ request.date|naturaltime }}</span>
		</div>

		<div class="col-md-1 friend-action">
			<form action="{% url 'accept_friendship' %}" method="post">
				{% csrf_token %}
				<input type="hidden" name="request_id" value="{{ request.id }}" />
				<button class="btn btn-success" data-toggle="tooltip" data-placement="left" title="Requested {{ request.date|naturaltime }}">Accept</button>
			</form>
		</div>
	</div>
{% endwith %}
{% empty %}
	<p class="well">Oops, there are no friend requests.</p>
{% endfor %}