{% extends "layout.html" %}

{% block title %}Welcome!{% endblock %}

{% block content %}
	<div class="jumbotron">
		<h1>Welcome to PLKR!</h1>
		<p>The most awesome social network you could've ever imagined!™</p>
		<p><a href="{% url 'register' %}" class="btn btn-primary btn-lg" role="button">Sign Up Now!</a></p>
	</div>

	<div class="row">
		<div class="col-md-4">
			<h2>Distributed</h2>
			<p>PLKR is a distributed social network. This means that our user's information is not going to reside on one place only.
				Instead, our users can decide where their information will live and who can access it.</p>
		</div>
		<div class="col-md-4">
			<h2>Private</h2>
			<p>You can decide who can see your posts. You want your friends to see them? Cool. You want them to reach the friends of
				your friends? Cool. Do you want onle people in your same host to see them? Cool!</p>
		</div>
		<div class="col-md-4">
			<h2>Awesome</h2>
			<p>If that hasn't convinced you yet, let me tell you this: PLKR is awesome! You can access it from a desktop browser, from your mobile phone, tablet or any device! Plus, everybody is in PLKR already!</p>
		</div>
	</div>
{% endblock %}