{% extends "layout.html" %}
{% load gravatar %}
{% block title %}Profile{% endblock %}

{% block content %}

	<div class="row profile-info">
		<div class="col-md-8">
			<div class="form-group">
			 	<h1>{{ puser.author.displayName }}</h1>
			 	{% if puser == user %}
					<p><a href="{% url 'profile_edit' %}">Edit Profile</a></p>
				{% endif %}
				<p>Email: {{ puser.email }}</p>
				<p>Username: {{ puser.username|escape }}</p>
				<p>Display Name: {{ puser.author.displayName|escape }}</p>
				{% if puser.author.github_name != '' %}
				<p>GitHub: <a href="http://github.com/{{ puser.author.github_name|escape }}">{{ puser.author.github_name|escape }}</a></p>
				{% endif %}
			</div>
		</div>
		<div class="col-md-4">
			{% gravatar puser.email 250 'class="img-thumbnail pull-right"' %}
		</div>
	</div>

	{% if puser == user %}
		<div class="well">
			{% include "main/postNew.html" %}
		</div>
	{% elif user.is_authenticated %}
		{% if friends %}
			<form action="{% url 'remove_friendship' %}" method="post">
				{% csrf_token %}
				<input type="hidden" name="friend_id" value="{{ puser.author.id }}" />
				<button class="btn btn-danger">Unfriend</button>
			</form>
		{% elif received_request %}
			<form action="{% url 'accept_friendship' %}" method="post">
				{% csrf_token %}
				<input type="hidden" name="request_id" value="{{ received_request.id }}" />
				<button class="btn btn-success">Accept</button>
			</form>
		{% elif sent_request %}
			<form action="{% url 'remove_friendship' %}" method="post">
				{% csrf_token %}
				<input type="hidden" name="friend_id" value="{{ puser.author.id }}" />
				<button class="btn btn-warning">Cancel Friend Request</button>
			</form>
		{% else %}
			<form action="{% url 'request_friendship' %}" method="post">
				{% csrf_token %}
				<input type="hidden" name="friend_id" value="{{ puser.author.id }}" />
				<input type="hidden" name="host_id" value="{{ puser.author.host.id }}" />
				<input type="hidden" name="displayName" value="{{ puser.author.displayName }}" />
				<button class="btn btn-primary">Add Friend</button>
			</form>
		{% endif %}
	{% endif %}

	<div id="posts">
		<h2>Stream</h2>
		{% include "main/postList.html" with posts=posts %}

		<script>post_reload_id='{{ puser.author.id }}';</script>
	</div>

{% endblock %}
