{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}
	
	{% if form.errors %}
	<p>Your username and password didn't match. Please try again.</p>
	{% endif %}

	<h1>{{ user.displayname }}</h1>
	<h2><a href="/site/profile/edit">Edit Profile</a></h2>
	 {% for p in posts %}
                    <div>
                        <h2>{{ p.title }}</h2>
                        <p>
                        {{p.content}}
                        </p>
                    </div>
	{% endfor %}

{% endblock %}
