{% extends "layout.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

		<style type="text/css">
			.top-buffer { margin-top:40px; }
		</style>
	

		<div class="row">
			<div class="row top-buffer"></div>
			<div class="col-md-8">
				<div class="form-group">
				 	<h1>{{ puser.author.displayName }}</h1>
				 	{% if puser == user %}
						<p><a href="{% url 'profile_edit' %}">Edit Profile</a></p>
					{% endif %}
					<p>Email: {{ puser.email }}</p>
					<p>Username: {{ puser.username|escape }}</p>
					<p>Display Name: {{ puser.author.displayName|escape }}</p>
					{% if puser.author.github_name != '' %}
					<p>GitHub: <a href="http://github.com/{{ puser.author.github_name|escape }}">{{ puser.author.github_name|escape }}</a></p>
					{% endif %}
				</div>
			</div>
			<div class="col-md-4">
				<img class="img-thumbnail" width=250; heigth=250; style="float:right;" src="{{ gravatar }}"/>
			</div>
			
		</div>
		<div class="row top-buffer"></div>

	{% if puser == user %}
		<div class="well">
			{% include "main/postNew.html" %}
		</div>
	{% elif user.is_authenticated %}
		{% if friends %}
			<form action="{% url 'remove_friendship' %}" method="post">
				{% csrf_token %}
				<input type="hidden" name="friend_id" value="{{ puser.author.id }}" />
				<button class="btn btn-danger">Unfriend</button>
			</form>
		{% elif not sent_request %}
			<div>
				<form action="{% url 'request_friendship' %}" method="post">
					{% csrf_token %}
					<input type="hidden" name="friend_id" value="{{ puser.author.id }}" />
					<button class="btn btn-primary">Add Friend</button>
				</form>
			</div>
		{% else %}
			<form action="{% url 'remove_friendship' %}" method="post">
				{% csrf_token %}
				<input type="hidden" name="friend_id" value="{{ puser.author.id }}" />
				<button class="btn btn-warning">Cancel Friend Request</button>
			</form>
		{% endif %}
	{% endif %}

	<div id="posts">
		<h2>Stream</h2>
		{% include "main/postList.html" with posts=posts %}
	</div>

{% endblock %}
