{% extends "layout.html" %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
	
	<h1>{{ user.author.displayname }}</h1>
	<p><a href="{% url 'profile' %}">Back</a></p>
	
	<form role="form" action="{% url 'profileEdit' %}" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{ user.email }}">
		</div>
  		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" class="form-control" id="username" name="username" placeholder="Username" value="{{ user.username }}">
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" id="password" name="password" placeholder="Password">
		</div>
		<div class="form-group">
			<label for="displayName">Display Name</label>
			<input type="text" class="form-control" id="displayName" name="displayName" placeholder="Display Name" value="{{ user.author.displayname }}">
		</div>
	  	<button type="submit" class="btn btn-default">Submit</button>
	</form>

{% endblock %}