/* General Layout */

body {
  padding-top: 50px;
  background-color: #eee;
}

#content .container {
	min-height: 500px;
}

/* Flash messages */

.messages {
	margin-top: 15px;
}

.messages p {
	padding: 15px;
}

.messages p:last-child {
	margin-bottom: 0;
}

/* Login form */

#form-login {
	max-width: 400px;
}

/* Posts */

.post {
	
}

.post h1 {
	font-size: 2em;
	margin-top: 0;
}

.post .post-body {
	margin: 0.9em 0;
}

.post-image img.img-thumbnail {
	max-width: 10em;
}

.post .post-footer {
	border-top: 1px dotted #bbb;
	padding-top: .9em;
}

.comment-body {
	font-size: 1em;
}

.comment-meta, #posts .post-meta {
	font-size: 0.9em;
}

.comment-meta {
	margin-bottom: 0;
}

/* Profile */
.profile-info {
	margin:40px 0;
}

/* Avatar */

.bar_picture{
	margin-top: -10px;
	margin-bottom: -10px;
}

.overflow_visible{
	overflow: visible;
}

/* Friend lists */

.friend {
	padding: 1em 0;
}