/* General Layout */

body {
  padding-top: 50px;
  background-color: #eee;
}

#content .container {
	min-height: 500px;
}

/* Flash messages */

.messages {
	margin-top: 15px;
}

.messages p {
	padding: 15px;
}

.messages p:last-child {
	margin-bottom: 0;
}

/* Login form */

#form-login {
	max-width: 400px;
}

/* Posts */

#posts .post {
	border: 1px solid #ccc;
	padding: 0.5em;
	margin-bottom: 2em;
	background-color: #f6f6f6;
}

#posts .post h1 {
	font-size: 2em;
}

#posts .comment-body {
	font-size: 1em;
}

#posts .comment-meta, #posts .post-meta {
	font-size: 0.9em;
}

#posts .comment-meta {
	margin-bottom: 0;
}