/* General Layout */

body {
  padding-top: 50px;
  background-color: #eee;
}

#content .container {
	min-height: 500px;
}

/* Flash messages */

.messages {
	margin-top: 15px;
}

.messages p {
	padding: 15px;
}

.messages p:last-child {
	margin-bottom: 0;
}

/* Login form */

#form-login {
	max-width: 400px;
}